@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Araç İşlemleri</h1>
    <div>
        <span class="px-2">Araç Listesi</span>
        <span class="px-2">Araç Ekle</span>
        <span class="px-2">Araç Bul</span>
    </div>
</div>
