@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Müşteri İşlemleri</h1>
    <div>
        <span class="px-2">Müşteri Listesi</span>
        <span class="px-2">Müşteri Detay</span>
        <span class="px-2">Müşteri Ekle</span>

    </div>
</div>

<div class="container">
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">Müşteri Adı</div>
            <div class="col">dsfdsfds</div>
            <div class="col">Soyadı</div>
            <div class="col">dfsdfsd</div>
        </div>
    </div>
</div>
<h1 class="display-4">Müşteri Araçları</h1>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Plaka</th>
                <th scope="col">Marka- Model</th>
                <th scope="col">Model</th>
                <th scope="col">Abonelik</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><a href="CustomerMethotsDetail">Müşteri Detay</a></td>
                <td>Abone</td>  
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td><a href="CustomerMethotsDetail">Müşteri Detay</a></td>
                <td>Abone Değil</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td><a href="CustomerMethotsDetail">Müşteri Detay</a></td>
                <td>Abone</td>
            </tr>
        </tbody>
    </table>
</div>

