@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>İçerideki Araç Sayısı : 0</p>
    <p>İçerideki Motorsiklet Sayısı : 0</p>
    <p>İçerideki Araç Sayısı : 0</p>
    <p>İçerideki Araç Sayısı : 0</p>
</div>
